$bg-clr: rgb(172, 54, 8);


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// .navbar .myclass {
//   color: yellow !important;
// }

.blog-list .blog-item {
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
}
